/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

body {
  background-color: lightskyblue;
}

.jumbotron {
  text-align: center;
}

footer {
  text-align: center;
}

.add {
  margin-bottom: 1em;
}

.todoList h1 {
  text-align: center;
}

.rowItem {
  margin: 4px 0px;
}

.listItem {
  padding-top: 7px;
  padding-left: 10px;
  height: 29px;
}

.edited label:after {
  content: " edited";
  text-transform: uppercase;
  color: #ffeeee;
  font-size: 14px;
  padding-left: 5px;
}
